/*********************/
/* About us styles */
/*********************/


.about {
    background-color: $background-color;
    padding: 200px 0;
}
.about-us {
    display: flex;
    flex-direction: column;

    h3 {
        margin-bottom: 100px;
    }
}

.about-us-content {
    display: flex;

    img {
        max-height: 416px;
        max-width: 370px;
    }
}

.about-image,
.about-info {
    flex: 1 0 40%;
}

.about-circle {
    position: absolute;
    /* left: -50px; */
    bottom: -50px;
    left: 100px;
}

.about-image {
    position: relative;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;

    .circle {
        border: 10px solid white;
    }
}

.line {
    width: 75px;
    border-top: 5px solid black;
}