.contact {
    display: flex;

    .wrapper-outer {
        display: flex;
        
        img {
            width: 100%;
        }
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    h3 {
        text-align: left;
    }
}