/*********************/
/* Experience styles */
/*********************/

.amenities {
    display: flex;
    // margin-top: 100px;
}

.amenities h3 {
    text-align: left;
}

.amenities li {
    flex: 1 1 200px;

}

.experience {
    display: flex;
    /* margin-left: 15%; */
}

.experience ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    margin-left: 18%;
}

.experience li {
    display: flex;
    /* flex-direction: column; */
}

.experience-image {
    display: flex;

    img {
        width: auto;
    }
}
