footer {
    display: flex;
    background-color: #252424;
    color: white;
    height: 25vh;
    
    .wrapper-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        a {
            color: #999999;
            
        }
    }
    
    .footer-border {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        border-bottom: 2px solid white;
        margin-bottom: 20px;
        padding-bottom: 50px;
    }

    .copyright {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
            li {
                margin-left: 50px;
            }
    }

    }

    form {
        width: 40%;

        .footer-form {
            width: 100%;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1 px solid black;
            background-color: #252424;
            color: white;
        }
        
        .container-mail {
            position: relative;
            
        }

        .footer-button {
            position: absolute;
            background-color: #252424;
            color: white;
            border: none;
            right: 0;
        }
    }
}