@media only screen and (min-width : 320px) and (max-width : 480px) {/*--- Mobile portrait ---*/

    .mobile-bar {
        display: block;
    }

    .nav-bar ul {
        display: none;
    }

    .about {
        padding: 100px 0;
    }

    .about-info {
        width: 70%;
    }

    .line {
        display: none;
    }

    .about-us-content {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        margin-right: 0;    
    }

    .about-circle {
        display: none;    
    }

    .amenities {
        display: flex;
        flex-direction: column-reverse;
    }

    .experience {
        margin: 50px 0;
    }

    .experience ul {
        margin-left: 0;
    }

    .test-inner-wrapper {
        padding: 50px 0;
    }

    .contact {
        flex-direction: column;
    }

    .contact .inner-contact {
        margin-right: 0;
        margin-top: 80px;
    }

    footer form {
        width: 100%;    
    }

    .blog-header {
        flex-direction: column;
    }

    .blog-related .related-gallery ul {
        flex-direction: column;
        align-items: normal;
    
    }

    .blog-related .related-gallery li {

        margin-right: 0;
        width: auto;
        
        div {
            border: none;            
        }
    
    }

    .comment-form button {
        width: 100%;    
    }

    .container-comment ul {
        flex-direction: column;    
    }

    .third-box {
        width: 90%;    
    }

    .form2 {
        padding: 10px 0;
        width: 100%;
    }

    .blog-shift {
        top: -80px;    
    }

    .blog-shift .blog-title {
        padding-top: 0;    
    }

    .contact-list {
        flex-direction: column;
        align-items: center;

        li {
            align-items: flex-start;
            border: none;

            .contact-unique1 {
                width: 100%;
            }

            div {
                text-align: center;
                width: 100%;

                h3 {
                    text-align: center;
                }
            }
        }        
    }

    .contact-list .contact-unique2 {
        border-right: none;
        width: calc(100% / 3);
    }

    .contact-email {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .in-touch {
        text-align: center;
    }

    .contact-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }



}
@media only screen and (min-width : 480px) and (max-width : 595px) {/*--- Mobile landscape ---*/

    .mobile-bar {
        display: block;
    }

    .nav-bar ul {
        display: none;
    }

    .about {
        padding: 100px 0;
    }

    .about-info {
        width: 70%;
    }

    .line {
        display: none;
    }

    .about-us-content {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        margin-right: 0;    
    }

    .about-circle {
        display: none;    
    }

    .amenities {
        display: flex;
        flex-direction: column-reverse;
    }

    .experience {
        margin: 50px 0;
    }

    .test-inner-wrapper {
        padding: 50px 0;
    }

    .contact {
        flex-direction: column;
    }

    .contact .inner-contact {
        margin-right: 0;
        margin-top: 80px;
    }

    .blog-header {
        flex-direction: column;
    }

    .blog-related .related-gallery ul {
        flex-direction: column;
        align-items: normal;
    
    }

    .blog-related .related-gallery li {

        margin-right: 0;
        width: auto;
        
        div {
            border: none;            
        }
    
    }

    .comment-form button {
        width: 35%;    
    }

    .container-comment ul {
        flex-direction: column;    
    }

    .third-box {
        width: 90%;    
    }

    .form2 {
        padding: 10px 0;
        width: 100%;
    }

    .contact-list {
        flex-direction: column;
        align-items: center;

        li {
            align-items: flex-start;
            border: none;

            .contact-unique1 {
                width: 100%;
            }

            div {
                text-align: center;
                width: 100%;

                h3 {
                    text-align: center;
                }
            }
        }        
    }

    .contact-list .contact-unique2 {
        border-right: none;
        width: calc(100% / 3);
    }

    .contact-email {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .in-touch {
        text-align: center;
    }

    .contact-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }




}
@media only screen and (min-width : 595px) and (max-width : 690px) {/*--- Small tablet portrait ---*/
    
    .mobile-bar {
        display: block;
    }
    
    .nav-bar ul {
        display: none;
    }

    .about {
        padding: 100px 0;
    }

    .about-info {
        width: 70%;
    }

    .line {
        display: none;
    }

    .about-us-content {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        margin-right: 0;    
    }

    .amenities {
        display: flex;
        flex-direction: column-reverse;
    }

    .experience {
        margin: 50px 0;
    }

    .test-inner-wrapper {
        padding: 50px 0;
    }

    .contact {
        flex-direction: column;
    }

    .contact .inner-contact {
        margin-right: 0;
        margin-top: 80px;
    }

    .blog-header {
        flex-direction: column;
    }

    .blog-related .related-gallery ul {
        flex-direction: column;
        align-items: normal;
    
    }

    .blog-related .related-gallery li {
        margin-right: 0;
        width: auto;
        
        div {
            border: none;            
        }
    
    }

    .comment-form button {
        width: 30%;    
    }

    .container-comment ul {
        flex-direction: column;    
    }

    .third-box {
        width: 90%;    
    }

    .form2 {
        padding: 10px 0;
        width: 100%;
    }

    .contact-list {
        flex-direction: column;
        align-items: center;

        li {
            align-items: flex-start;
            border: none;

            .contact-unique1 {
                width: 100%;
            }

            div {
                text-align: center;
                width: 100%;

                h3 {
                    text-align: center;
                }
            }
        }        
    }

    .contact-list .contact-unique2 {
        border-right: none;
        width: calc(100% / 3);
    }

    .contact-email {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .in-touch {
        text-align: center;
    }

    .contact-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }



}
@media only screen and (min-width : 691px) and (max-width : 800px) {/*--- Tablet portrait ---*/


    .amenities {
        display: flex;
        flex-direction: column-reverse;
    }

    .experience {
        margin: 50px auto;
        justify-content: center;
    }

    .experience ul {
        margin-left: 0;    
    }


    .experience-image {
        margin: 0 auto;    
    }

    .blog-header {
        flex-direction: column;
    }

    .blog-related .related-gallery ul {
        flex-direction: column;
        align-items: normal;
    
    }

    .blog-related .related-gallery li {

        margin-right: 0;
        width: auto;
        
        div {
            border: none;            
        }
    
    }

    .comment-form button {
        width: 30%;    
    }

    .container-comment ul {
        flex-direction: column;    
    }

    .third-box {
        width: 90%;    
    }

    .form2 {
        padding: 10px 0;
        width: 100%;
    }

    .contact {
        flex-direction: column;
    }

    .contact-info {
        padding-top: 95px;
    }

    .contact-list {
        flex-direction: column;
        align-items: center;

        li {
            align-items: flex-start;
            border: none;

            .contact-unique1 {
                width: 100%;
            }

            div {
                text-align: center;
                width: 100%;

                h3 {
                    text-align: center;
                }
            }
        }        
    }

    .contact-list .contact-unique2 {
        border-right: none;
        width: calc(100% / 3);
    }

    .contact-email {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .in-touch {
        text-align: center;
    }

    .contact-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
    }
    
}


@media only screen and (min-width : 801px) and (max-width : 1424px) {

    .contact {
        flex-direction: column;

        img {
            margin: 0 auto;
        }

        .inner-contact {
            margin-right: 0;
        }
    }

    .contact-info {
        padding-top: 95px;
    }
}



@media only screen and (min-width : 768px) and (max-width : 1024px) {/*--- Small tablet landscape ---*/


    .amenities {
        display: flex;
        flex-direction: column-reverse;
    }

    .experience {
        margin: 50px auto;
        justify-content: center;
    }

    .experience ul {
        margin-left: 0;
    
    }

    .experience-image {
        margin: 0 auto;    
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1224px) {/*--- Tablet landscape --- */

    .amenities {
        display: flex;
        flex-direction: column-reverse;
    }

    .experience {
        margin: 50px auto;
        justify-content: center;
    }

    .experience ul {
        margin-left: 0;
    
    }

    .experience-image {
        margin: 0 auto;    
    }

    .blog-shift {
        top: -70px;
    }


}

@media (max-width : 1225px) {

    .about {
        padding: 100px 0;
    }

    .about-info {
        width: 70%;
    }

    .line {
        display: none;
    }

    .about-us-content {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        margin-right: 0;    
    }
}


@media(max-width: 812px) and (orientation: landscape) {

    header {
        height: 73vh;
    }

    .blog-shift .blog-title {
        padding-top: 0;    
    }

    .blog-shift {
        top: 0;
    }

    .comment-form button {
        margin-bottom: 50px;    
    }

    .blog-background {
        height: 73vh;
    }

    .contact-background-header {
        height: 73vh;
    }

}

@media(max-width: 1280px) and (orientation: landscape) {


}

@media(max-width: 740px) and (orientation: landscape) {

    header {
        height: 72vh;
    }

    .blog-shift {
        top: 0px;
    }

    .blog-background {
        height: 72vh;
    }

    .comment-form button {
        margin-bottom: 50px;    
    }

    .contact-list .contact-unique2 {
        border-right: none;
        width: calc(100% / 3);
    }

}

@media(max-width: 736px) and (orientation: landscape) {

    header {
        height: 76vh;
    }

    .blog-background {
        height: 76vh;
    }

    .contact-background-header {
        height: 76vh;
    }

}

@media(max-width: 667px) and (orientation: landscape) {

    header {
        height: 73vh;
    }

    .blog-background {
        height: 73vh;
    }

    .blog-shift .blog-title {
        padding-top: 0;    
    }

}



