@import 'variables';
@import 'setup';
@import 'general';
@import 'header';
@import 'about';
@import 'experience';
@import 'reviewGallery';
@import 'contact';
@import 'footer';
@import 'blog';
@import 'contactPage';
@import 'media';